[Unit]
Description=Easy Audio Encoder is a software to convert audio codecs to WAV
After=unicorn-transcoder.service

[Service]
WorkingDirectory=/root/unicorn/UnicornTranscoder/Cache/
ExecStart=/root/unicorn/UnicornTranscoder/Codecs/EasyAudioEncoder
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=easy-audio-encoder

[Install]
WantedBy=multi-user.target
